Backend/prjPureVaccineWebAPI/ICAIntegration/Web References/webRefICA/PersonProfileEnquiry.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:cmn="http://id.gov.ae/schema/commontypes" xmlns:tns="http://id.gov.ae/schema/enquiry/profile" elementFormDefault="qualified" targetNamespace="http://id.gov.ae/schema/enquiry/profile" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="CommonTypes.xsd" namespace="http://id.gov.ae/schema/commontypes" />
  <xsd:complexType name="GetPersonProfilePhotoRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="cmn:Header" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Body" type="tns:GetPersonProfilePhotoRequestBodyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPersonProfilePhotoResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="cmn:Header" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Body" type="tns:GetPersonProfilePhotoResponseBodyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPersonProfileInfoRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="cmn:Header" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Body" type="tns:GetPersonProfileInfoRequestBodyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPersonProfileInfoResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="cmn:Header" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Body" type="tns:GetPersonProfileInfoResponseBodyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPersonStatsRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="cmn:Header" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Body" type="tns:GetPersonStatsRequestBodyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPersonStatsResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="cmn:Header" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Body" type="tns:GetPersonStatsResponseBodyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaultType">
    <xsd:sequence>
      <xsd:element name="faultCode" type="xsd:string" />
      <xsd:element name="faultString" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPersonProfileInfoRequestBodyType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="transactionRefNo" type="cmn:TransactionRefNoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="unifiedNo" type="cmn:UNType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idn" type="cmn:IDNType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="passportNo" type="cmn:AlphaNumericType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nationalityCode" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="timestamp" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPersonProfileInfoResponseBodyType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="transactionRefNo" type="cmn:TransactionRefNoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="resultCode" type="xsd:int" />
      <xsd:element minOccurs="1" maxOccurs="1" name="responseCode" type="cmn:ResponseCodeType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="responseDescription" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="profileInfo" type="tns:ProfileInfoType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="timestamp" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPersonProfilePhotoRequestBodyType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="transactionRefNo" type="cmn:TransactionRefNoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="unifiedNo" type="cmn:UNType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idn" type="cmn:IDNType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="timestamp" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPersonProfilePhotoResponseBodyType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="transactionRefNo" type="cmn:TransactionRefNoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="resultCode" type="xsd:int" />
      <xsd:element minOccurs="1" maxOccurs="1" name="responseCode" type="cmn:ResponseCodeType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="responseDescription" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="profilePhoto" type="tns:ProfileDocumentsType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="timestamp" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPersonStatsRequestBodyType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="transactionRefNo" type="cmn:TransactionRefNoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="unifiedNo" type="cmn:UNType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idn" type="cmn:IDNType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="timestamp" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPersonStatsResponseBodyType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="transactionRefNo" type="cmn:TransactionRefNoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="resultCode" type="xsd:int" />
      <xsd:element minOccurs="1" maxOccurs="1" name="responseCode" type="cmn:ResponseCodeType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="responseDescription" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="pNoOfSponsored" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="pNoOfRelatedEstablishment" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="pNoVisaRequests" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="pNoResidenceRequests" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="pNoActiveVisas" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="pNoActiveResidencies" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="pNoExpiredResidencies" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="pLastEntryDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="pLastExitDate" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="1" name="timestamp" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProfileDocumentsType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="unifiedNo" type="cmn:UNType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idn" type="cmn:IDNType" />
      <xsd:element maxOccurs="unbounded" name="profileDocument" type="tns:ProfileDocumentType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProfileInfoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="unifiedNo" type="xsd:long" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idn" type="xsd:long" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nameArabic" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nameEnglish" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nationality" type="tns:CodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="birthDate" type="xsd:date" />
      <xsd:element minOccurs="0" maxOccurs="1" name="familyNameAr" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="familyNameEn" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="gender" nillable="true" type="tns:CodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="religion" nillable="true" type="tns:CodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="maritalStatus" nillable="true" type="tns:CodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="activePassport" type="tns:activePassportType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="activeHomeDocument" type="tns:activeHomeDocumentType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="residenceCountry" nillable="true" type="tns:CodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="mobileNo" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nationalId" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nationalIdCardNo" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nationalIdCardExpiryDate" type="xsd:date" />
      <xsd:element minOccurs="0" maxOccurs="1" name="preferredLang" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="lastTravelEntryDetails" type="tns:lastTravelEntryDetailsType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="profileDocument" type="tns:ProfileDocumentType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProfileDocumentType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="binaryDocumentType" type="tns:ProfileDocumentCodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="binaryDocument" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="activePassportType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="passportType" type="tns:CodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="passportIssueNationality" type="tns:CodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="passportNationality" type="tns:CodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="passportNo" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="issueDate" type="xsd:date" />
      <xsd:element minOccurs="0" maxOccurs="1" name="expiryDate" type="xsd:date" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="activeHomeDocumentType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="documentType" type="tns:CodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idIssueNationality" type="tns:CodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idNationality" type="tns:CodeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="documentNo" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="issueDate" type="xsd:date" />
      <xsd:element minOccurs="0" maxOccurs="1" name="expiryDate" type="xsd:date" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lastTravelEntryDetailsType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="flightNo" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="arrivalAirport" nillable="true" type="tns:CodeType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CodeType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute fixed="lookup" name="name" type="xsd:string" use="optional" />
        <xsd:attribute name="arabic_desc" type="xsd:string" use="optional" />
        <xsd:attribute name="english_desc" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ProfileDocumentCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Photo</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>